h1{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
    width: 100px;
    background-color: lightgray;
    color: white;
    display: inline-block;
}
.value,.btn{
    text-align: center;
    align-items: center;
}